
<div class="reset-div auto-flex content-top-div">
  <ng-container *ngIf="!resetRequestSend; else request_send">


  <mat-card class="form-mat-card">
    <mat-card-title class="form-card-title-centered">
      {{'passwordResetting.resetRequest.title' | translate}}
    </mat-card-title>
    <mat-card-subtitle class="form-card-subtitle-centered">
      {{'passwordResetting.resetRequest.subtitle' | translate}}
    </mat-card-subtitle>
    <mat-card-content>
      <form class="auto-flex" [formGroup]="resetPasswordForm">
        <mat-form-field appearance="fill" class="form-card-field-100">
          <mat-label>{{'passwordResetting.resetRequest.emailLabel' | translate}}</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error>
            <span *ngIf="resetFormHandling.errorHandling('email','required')">
               {{ 'basicFormErrors.required' | translate}}
            </span>
            <span *ngIf="resetFormHandling.errorHandling('email','email')">
               {{ 'basicFormErrors.notEmail' | translate}}
            </span>
          </mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary" class="button-with-left-icon form-card-field-100"
                type="button" (click)="onResetClick()">
          <mat-icon fontIcon="restart_alt"></mat-icon>
          <span>{{'passwordResetting.resetRequest.resetBtn' | translate}}</span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  </ng-container>
  <ng-template #request_send>
    <mat-card class="form-mat-card send-card">
      <mat-card-title class="form-card-title-centered">
        {{'passwordResetting.resetRequest.successCard.title' | translate}}
      </mat-card-title>
      <div class="send-subtitle">
        {{'passwordResetting.resetRequest.successCard.subtitle' | translate}}
      </div>
      <mat-icon fontIcon="mail_outlined" color="primary" class="inbox-icon"></mat-icon>
    </mat-card>
  </ng-template>
</div>
