
.send-title-div{
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
}


.send-subtitle{
  margin-top: 20px;
  font-weight: 300;
}

.send-card{
  text-align: center;
}

.inbox-icon{
  margin-top: 10px;
  font-size: 48px;
  height: 48px;
  width: 48px;
}
