
<div class="auto-flex">
  <div class="title-div">
    <span class="title-span">{{'about.title' | translate}}</span>
    <span class="subtitle-span">{{'about.subtitle' | translate}}</span>
  </div>
</div>


  <app-about-quick-offers></app-about-quick-offers>

<div class="auto-flex bottom-div">
  <div class="buttons-div">
    <button mat-stroked-button color="primary" [routerLink]="loginLink">
      {{'navbar.login' | translate}}</button>
    <button mat-flat-button color="primary" [routerLink]="signupLink">{{'navbar.signUp' | translate}}</button>
  </div>
</div>



