
.login-div-top{
  margin-top: 100px;
  margin-bottom: 100px;
}

.form-card{
  max-width: 400px;
  min-width: 270px;
  padding: 20px 30px !important;
  margin: 0px 20px;
}

.form-card-title{
  margin-top: 5px !important;
  width: 100%;
  text-align: center;
}

.form-card-subtitle{
  width: 100%;
  text-align: center;
  margin-top: 15px !important;
}

.form-input{
  width: 100%;
}

.card-divider{
  height: 30px;
}

.form-button{
  width: 100%;
}

.form-buttons-div{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


