<!--<div class="full-navbar">-->
<!--  <mat-toolbar color="primary">-->
<!--    <span>Foodstash</span>-->

<!--    <span class="example-spacer"></span>-->

<!--    <div fxHide.lt-md="true" fxLayout="row" fxShow="true" fxLayoutGap="10px">-->
<!--      <button [matMenuTriggerFor]="langMenu" mat-button>-->
<!--        <mat-icon aria-hidden="false" aria-label="Language icon" fontIcon="translate"></mat-icon>-->
<!--      </button>-->
<!--      <mat-menu #langMenu="matMenu">-->
<!--        <button (click)="setLanguage('en')" class="lang-btn" mat-menu-item>-->
<!--          <span>English</span>-->
<!--          <mat-icon *ngIf="currentLanguage === 'en'" class="check-icon" fontIcon="done"></mat-icon>-->
<!--        </button>-->
<!--        <button (click)="setLanguage('pl')" class="lang-btn" mat-menu-item>-->
<!--          <span>Polski</span>-->
<!--          <mat-icon *ngIf="currentLanguage === 'pl'" class="check-icon" fontIcon="done"></mat-icon>-->
<!--        </button>-->
<!--      </mat-menu>-->
<!--      <a aria-label="Login button" mat-button routerLink="/auth/login">-->
<!--        <span>{{'navbar.login' | translate}}</span>-->
<!--      </a>-->
<!--      <a aria-label="Sign up button" color="accent" mat-stroked-button routerLink="/auth/signup">-->
<!--        <span> {{'navbar.signUp' | translate}}</span>-->
<!--      </a>-->
<!--    </div>-->

<!--    <button (click)="sidenav.toggle()" fxHide.gt-sm="true" fxShow="true" mat-button>-->
<!--      <mat-icon fontIcon="menu"></mat-icon>-->
<!--    </button>-->

<!--  </mat-toolbar>-->

<!--  <mat-sidenav-container fxFlexFill>-->
<!--    <mat-sidenav #sidenav fxLayout="column" mode=over opened="false" position="end">-->
<!--      <mat-nav-list fxLayout="column">-->
<!--        <a href="#" mat-button>Login</a>-->
<!--        <a href="#" mat-button>Sign Up</a>-->
<!--        <a href="#" mat-button>Language</a>-->
<!--      </mat-nav-list>-->
<!--    </mat-sidenav>-->

<!--    <mat-sidenav-content>-->
<!--      <ng-content></ng-content>-->
<!--    </mat-sidenav-content>-->
<!--  </mat-sidenav-container>-->

<!--</div>-->

<!--&lt;!&ndash;<mat-menu x-position="before" #sideMenu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;  <button mat-menu-item>Login</button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button mat-menu-item>Sign up</button>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-menu>&ndash;&gt;-->
