<div class="reset-div auto-flex content-top-div">
  <ng-container *ngIf="resetValue.length !== 0; else reset_value_err">
    <ng-container *ngIf="tokenCheckLoading == false; else token_check_load">
      <ng-container *ngIf="!resetSend; else reset_send">
        <mat-card class="form-mat-card">
          <mat-card-title class="form-card-title-centered">
            {{'passwordResetting.resetPage.form.title' | translate}}
          </mat-card-title>
          <mat-card-subtitle class="form-card-subtitle-centered">
            {{'passwordResetting.resetPage.form.subtitle' | translate}}
          </mat-card-subtitle>
          <mat-card-content>
            <form [formGroup]="resetPasswordForm" class="auto-flex">
              <mat-form-field appearance="fill" class="form-card-field-100">
                <mat-label>{{'auth.signupForm.password.firstLabel' | translate}}</mat-label>
                <input formControlName="password" matInput type="password">
                <mat-error>
            <span *ngIf="resetFormHandling.errorHandling('password','required')">
               {{ 'basicFormErrors.required' | translate}}
            </span>
                  <div *ngIf="resetFormHandling.errorHandling('password','passwordStrength')">
                    <span>{{ 'auth.signupForm.password.passwordIncorrect.line1' | translate }}</span>
                    <ul>
                      <li>{{ 'auth.signupForm.password.passwordIncorrect.line2' | translate }}</li>
                      <li>{{ 'auth.signupForm.password.passwordIncorrect.line3' | translate }}</li>
                      <li>{{ 'auth.signupForm.password.passwordIncorrect.line4' | translate }}</li>
                      <li>{{ 'auth.signupForm.password.passwordIncorrect.line5' | translate }}</li>
                    </ul>
                  </div>
                  <span *ngIf="resetFormHandling.errorHandling('password','minlength')
            && !resetFormHandling.errorHandling('password', 'passwordStrength')">
               {{ 'basicFormErrors.minLen' | translate:
                    {minLen: resetFormHandling.getLenValidator('password', 'minlength')} }}
            </span>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="form-card-field-100">
                <mat-label>{{'auth.signupForm.password.secondLabel' | translate}}</mat-label>
                <input formControlName="retypePassword" matInput type="password">
                <mat-error>
                  <p *ngIf="resetFormHandling.errorHandling('retypePassword','required')">
                    {{ 'basicFormErrors.required' | translate}}
                  </p>
                  <p *ngIf="resetFormHandling.errorHandling('retypePassword','matching')">
                    {{ 'auth.signupForm.password.passwordIncorrect.notMatch' | translate }}
                  </p>
                </mat-error>
              </mat-form-field>
              <button (click)="onSaveClick()" class="button-with-left-icon form-card-field-100" [loading]="sendingResetLoading"
                      color="primary"
                      mat-flat-button type="button">
                <mat-icon fontIcon="check"></mat-icon>
                <span>{{'passwordResetting.resetPage.form.saveBtn' | translate}}</span>
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </ng-container>

      <ng-template #reset_send>
        <app-message-card *ngIf="resetSuccess"
                          [iconColor]="'primary'"
                          [iconName]="'check'"
                          [info]="'passwordResetting.resetPage.success'">
        </app-message-card>
<!--        <mat-card *ngIf="resetSuccess">-->
<!--          <div class="error-row">-->
<!--            <span class="warning-text">{{'passwordResetting.resetPage.success' | translate}}</span>-->
<!--            <mat-icon color="primary" fontIcon="check"></mat-icon>-->
<!--          </div>-->
<!--        </mat-card>-->

        <app-message-card *ngIf="!resetSuccess"
                          [iconColor]="'warn'"
                          [iconName]="'cancel'"
                          [info]="'passwordResetting.resetPage.failure'">
        </app-message-card>

<!--        <mat-card *ngIf="!resetSuccess">-->
<!--          <div class="error-row">-->
<!--            <span class="warning-text">{{'passwordResetting.resetPage.failure' | translate}}</span>-->
<!--            <mat-icon color="warn" fontIcon="cancel"></mat-icon>-->
<!--          </div>-->
<!--        </mat-card>-->

      </ng-template>

    </ng-container>
    <ng-template #token_check_load>
      <div class="reset-verification-div auto-flex">
        <span>{{'passwordResetting.resetPage.verification' | translate}}</span>
        <mat-spinner [diameter]="30"></mat-spinner>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #reset_value_err>

    <app-message-card
                      [iconColor]="'warn'"
                      [iconName]="'cancel'"
                      [info]="'passwordResetting.resetPage.failureLink'">
    </app-message-card>


  </ng-template>
</div>
